* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #b4d0e7;
    width: 100%;
}

ul {
 list-style: none;
}


.flex {
    display: flex;
}

.menu-nav {
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.selection {
    align-items: center;
    
}

header li {
    padding: 1rem;
}

.btn {
    background-color: #66FF;
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    color: white;

}

h1 {
    font-size: 5rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.header-container {
    max-width: 70%;
    margin: auto;
    position: relative;
    

}

.img-top {
    width: 650px;
    margin-bottom: -3rem;
}



.text {
    padding-bottom: 2.5rem;
    
}

#text-line {
    padding-top: 2.5rem;
}

.freccia {
    font-size: 2rem;
    color: black;
    position: absolute;
    bottom: 0;
    
}

a {
    text-decoration: none;
    color: black;
}

/* fine header  */

.container-card {
    max-width: 60%;
    margin: auto;
    padding-top: 5rem;
}

.billing {
    padding-top: 2.5rem;
    font-size: 0.8rem;
}