@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Domine',serif;
}

header {
    background-color: #b4d0e7;
    width: 100%;
}

ul {
 list-style: none;
}


.flex {
    display: flex;
}



.menu-nav {
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.selection {
    align-items: center;
    
}

header li {
    padding: 1rem;
}

.btn {
    background-color: #0061FF;
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    color: white;

}

h1 {
    font-size: 5rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.header-container {
    max-width: 70%;
    margin: auto;
    position: relative;
    height: 780px;
    

}

.img-top {
    width: 650px;
    margin-bottom: -5rem;

}



.text {
    padding-bottom: 2rem;
    
}

.textsize {
    font-size: 0.9rem;
}

.text-line {
    padding-top: 2rem;
}

.freccia {
    font-size: 1.8rem;
    color: black;
    position: absolute;
    bottom: 0;
    
    
}

a {
    text-decoration: none;
    color: black;
}

/* fine header  */

.container-plan {
    max-width: 60%;
    margin: auto;
    padding-top: 5rem;
    
}

.billing {
    padding-top: 2.5rem;
    font-size: 0.8rem;
}

.fatturazione {
    margin-right: 3rem;
}

.card {
   /* flex-basis: 31.5%; */
   gap: 2rem;
   margin-top: 2.5rem;
     
}

.textcard {
    padding-bottom: 1.5rem;

}


.icon  {
    border: lightgrey solid 0.2rem;
    border-bottom: none;
    text-align: center;
    padding: 0.5rem;
}

.plan {
    border: lightgrey solid 0.2rem;
    padding: 1.5rem;
    height: 41rem;
    font-size: 12px;
    line-height: 1.2rem;
    
    
    
}



.container-card {
    width: 100%;
    height: 41rem;
    

}

.line{
    border: 1px solid lightgray;
    width: 4rem;
    margin-left: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blue {
    color: #0061FF;
}

.space-between {
    justify-content: space-between;
    
}

.horizontal-plan {
    border: lightgrey solid 0.2rem;
    padding: 1rem;
   
}

.img-partner {
    width: 100%;
    
}

.container-img {
    flex-basis: 60%;
}

.container-text {
    flex-basis: 40%;
    padding: 2rem;
}

.partner {
    padding-bottom: 1.5rem;
}

.btn-partner {
    border: 0.1rem solid;
    padding: 0.3rem 0.5rem;
    background-color: white;
    
}

.border {
    border: none;
}
/* 
 fine style partner */

 .business-solution {
    flex-wrap: wrap;
    margin-top: 1em;
 }

 .card-img {
    width: 100%;
 }

 .busns-sol-card {
    flex-basis: 30.5%;
    margin: 0.5rem;
 }

 .subtitle {
    padding-bottom: 1.5rem;
 }

.container-client {
    margin-left: 20%;
    width: 35%;
    font-size: larger;
    margin-top: 6rem;
    margin-bottom: 5rem;
    

}

.client-link {
    font-size: smaller;
    text-decoration: underline;
    color: #0061FF;
    

}

/* inizio style sponsor */

.container-sponsor {
    flex-wrap: wrap;
    flex-basis: 33.3%;
    /* height: 350px; */
    height: calc('100vh / 3');
    /* width: calc('100vw / 3'); */

     

}

.container-main {
    padding: 2rem;
    overflow: scroll;
}

.description {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sponsor-tag  {
    width: 50%;
    height: 50%;
    
    
}

.img-tag {
    width: 50%;
    height: 50%;
    filter: invert(1);
    margin: 25%;
    
    

}

/* colori quadrati  */

#col1 {
    background-color: lightgreen;
}
#col2 {
    background-color: rgb(139, 40, 40);
}
#col3 {
    background-color: lightseagreen;
}
#col4 {
    background-color: rgb(252, 71, 0);
}
#col5 {
    background-color: red;
}
#col6 {
    background-color: #b4d0e7;
}
#col7 {
    background-color: blue;
}
#col8 {
    background-color: yellow;
}

.information {
    padding-top: 1rem;
}

.bg {
    background-color: #b4d0e7;
    padding-bottom: 5rem;
}

.title-business {
    color: purple;
    /* align-items: center; */
    
}

/* style faq */

.faq {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

/* .information {
    display: none;
}

.faq .informative:hover {
    display: none;
}

.faq .information:hover {
    display: block;
} */

/* style footer  */


footer {
    background-color: black;
    margin-top: 5rem;
    color: white;
    font-size: 0.6rem;
    line-height: 1.5rem;
}

.footer-list {
    flex-basis: 19%;
    gap: 1%;
}

.footer-title {
    font-size: 1rem;
    font-weight: bolder;
    margin: 1rem 0;
    padding-top: 1rem;

}


.footer-line {
    border: 1px solid white;
    width: 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    
}

.language {
    color: grey;
    
}

footer a {
    color: white;
}

/* sezione hover */
footer a:hover {
    text-decoration: underline
}

section a:hover {
    text-decoration: underline
}

.information {
    display: none;
}

.faq:hover .information{
    display: block;
}



nav a:hover {
    text-decoration: underline
}

nav li:hover {
    opacity: 0.5;
    background-color: #b4d0e7;
    border-bottom: 2px solid #0061FF;
}

